/* Project.css */
/* Styling the image container with light gray background */
.portfolio-item {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make it responsive by using 100% width */
  max-width: 100%; /* Ensure the item doesn't stretch beyond the container */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
 
}
/* Container for the image with light background */
.project-image-container {
  width: 100%;  /* Ensure the container takes full width */
  height: 200px;  /* Fixed height for consistency */
  background-color: var(--bg-header);  /* Light gray background when image is smaller */
  display: flex;
  justify-content: center;
  align-items: center;
}    
/*styling the image to cover the container*/
  .project-image {
    width: 100%;  /* Make the image responsive */
    object-fit: cover; /* Crop the image to fill the area */
    border-radius: 4px;
  }
  
  .project-info {
    background-color: var(--bg-header);  /* White background for the text section */
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .project-info h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--dark-text);
    font-weight: bold;
    text-align: left; /*align the titke to the left */
  }

/* Description and logo container */
.project-info-description {
  display: flex;
  align-items: center; /* Vertically align the description and logo */
  justify-content: space-between;
 
}

  .project-info p {
    text-decoration: none;
    color: var(--dark-text);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }


  .project-info h3 a:hover {
    text-decoration: none;
    color: tan;
  }
  
  .logo-project {
    width: 40px;
    height: auto;
  }

