/*App.css*/
/*reset the CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

html, body {
  background-color: whitesmoke;
}


header, .page, footer {
  width: 100%;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #1094c6 ;
  color: white;
}

.footer {
  padding: 20px;
  background-color: #1094c6; /* optional background color */
}

.nav .nav-link {
  color: white; 
  text-decoration: none;
}

.nav .nav-link:hover {
  color: tan; 
  text-decoration: none; /* Ensure no underline on hover */
}

/* Active link color - matches hover */
.active-link {
  color: tan; /* Same as hover color */
  font-weight: bold; /* Optional: Highlight active link further */
}

.about-title {
  font-size: 2rem; /* 32px if the root font size is 16px */
  font-weight: bold;
  margin-bottom: 16px;
}

/* Body Text */
.about-text {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6; /* Increases readability */
  color: #333; /* Darker text for better contrast */
  margin-bottom: 20px;
}

.form-label {
  display:block;
}


.logo {
  width: 50px;
  height: auto;
  margin: 50px
}
