/*App.css*/
/*reset the CSS*/
:root {
  /*olor Scheme Variables*/
  --light-text:  #d3d9d4; 
  --dark-text: #124e66;
  --bg-header:  #d3d9d4;
  --bg-page: #748d92;
  --contrast-text: #c0392b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Lucida Console', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

html, body {
  background-color: var(--bg-page);
}


header, .page, footer {
  width: 100%;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: var(--bg-header);
  color: #124e66;
  font-size: 2rem; /* 32px if the root font size is 16px */
  font-weight: bold;
  position: relative; /* Ensures the logo positioning works correctly */
  z-index: 10; /* Keeps the header on top of other content */
  padding: 20px;
}

.monogram-container {
  position: relative; /* Set the container relative for absolute positioning inside */
  display: flex;
  align-items: center;
}

.monogram {
  position: absolute;
  
  width: 100px; /* Size the logo */
  height: 100px; /* Ensure aspect ratio */
  object-fit: cover;
  z-index: -1; /* Allows it to appear behind content if necessary */
}

/* Custom margin to achieve exactly 5px spacing */
.custom-margin-right {
  margin-right: 5px;
}

h1 {
  margin-left: 100px; /* Add spacing to ensure text isn't overlapped by the logo */
}


.footer {
  padding: 10px;
  background-color:var(--bg-header); /* optional background color */
}

.nav .nav-link:hover {
  color: #CD6155; 
  text-decoration: none; /* Ensure no underline on hover */
}

.nav .nav-link {
  color: var(--dark-text); 
  text-decoration: none;
}

.nav .nav-link-active {
  color: var(--contrast-text); 
  text-decoration: none;
}

/*Main title on each page */
.page-title {
  font-size: 2rem; /* 32px if the root font size is 16px */
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--light-text); 
}

/* About Text */
.about-text {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6; /* Increases readability */
  color:  var(--light-text); 
  margin-bottom: 20px;
}

/*Contact Page*/
.error{
  display: block;
  color: var(--light-text)
  
}
.form-label {
  display:block;
  color: var(--light-text);
  font-weight: bold;
  font-size: 1.125rem;
}
/*Resume*/
.secondary-title, .list-text {
  color: var(--light-text);
  font-weight: bold;
  line-height: 1.6;
}

.resume-link {
  color: var(--dark-text); 
  text-decoration: none; /* Ensure no underline on hover */
  font-weight: bold;

}
.resume-link:hover {
  color:  #cd6155; 
  text-decoration: none; /* Ensure no underline on hover */
}

/*Footer*/
.logo {
  width: 50px;
  height: auto;
  margin: 0px
}



@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  .monogram {
    width: 80px; /* Reduce size on smaller screens */
    height: 80PX
  }

  .header {
    flex-wrap: wrap;
    text-align: center;
  }
}

